<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Товары</title>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <h1>Товары</h1>
    <ul>
        {% for item in items %}
            <li>
                <h2><a href="{% url 'trades:item_detail' item_id=item.id %}">{{ item.name }}</a></h2>
                <p>{{ item.description }}</p>
                <p>Цена: {{ item.price }} {{ item.currency }}</p>
                <a href="{% url 'trades:add_to_order' item.id %}">Добавить к заказу</a>
            </li>
        {% endfor %}
    </ul>
    <div id="payment-button-container">
        <a href="{% url 'trades:create_payment_session' order_id %}"><button>Оплатить</button></a>
    </div>
    <script type="text/javascript">
        var stripe = Stripe('{{ STRIPE_PUBLIC_KEY }}');
        document.getElementById('payment-button-container').addEventListener('click', function() {
            fetch('{% url 'trades:create_payment_session' order_id %}', {
                method: 'GET',
            })
            .then(response => response.json())
            .then(session => {
                stripe.redirectToCheckout({ sessionId: session.session_id });
            })
            .catch(error => {
                console.error('Error creating payment session:', error);
            });
        });
    </script>
</body>
</html>
